
.container-fluid {
  padding: 0;
}

.profile {
  padding: 48px 0;
}

.profile-image {
  position: relative;
}

.profile-image:before,
.profile-image:after {
  position: absolute;
}

.profile-image:before {
  content: url('../../assets/ovals/purple-oval.png');
  -webkit-transform: rotate(-7deg) translate3d(-10px, -32px, 0);
          transform: rotate(-7deg) translate3d(-10px, -32px, 0);
  z-index: -1;
  width: 100%;
}

.profile-image:after {
  content: url('../../assets/ovals/pink-oval.png');
  -webkit-transform: rotate(-7deg) translate3d(52px, 32px, 0);
          transform: rotate(-7deg) translate3d(52px, 32px, 0);
  z-index: -1;
  width: 100%;
  bottom: 0;
}

.user-image {
  position: relative;
}


.user-image:before {
  content: 'FEATURED';
  background: var(--darkPink);
  border-radius: 6px;
  color: var(--white);
  font-weight: 800;
  padding: 4px 15px;
  -webkit-transform: translate3d(10px, 10px, 0);
          transform: translate3d(10px, 10px, 0);
  position: absolute;
}

.profile-info {
  padding: 52px 0;
}

.profile-info h1 {
  color: var(--headingColor);
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 2px;
}

.profile-info span {
  display: inline-block;
  font-size: 16px;
}

.profile-info .social-media {
  margin: 26px 0 30px;
}

.profile-info .social-media li {
  display: inline-block;
  margin: 0 10px;
}

.profile-info .social-media li:first-of-type {
  margin-left: 0;
}

.profile-info .social-media li img {
  vertical-align: bottom;
  width: 24px;
}

.website-name {
  display: inline-block;
}

.purple-btn {
  background: var(--purpleBtn);
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 25px rgba(0,0,0,.20);
          box-shadow: 0 2px 25px rgba(0,0,0,.20);
  color: var(--white);
  display: inline-block;
  font-weight: 700;
  margin-top: 24px;
  max-width: 280px;
  padding: 16px 0;
  text-align: center;
  width: 100%;
}

.other-designers {
  margin-top: 84px;
}

.other-designer {
  margin-bottom: 28px;
}

.other-designers h2 {
  color: var(--headingColor);
  font-size: 22px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 24px;
}

.other-designers h3 {
  color: var(--darkPurple);
  font-size: 14px;
  font-weight: 700;
}

.other-designers .other-info {
  color: var(--darkPurple);
  display: block;
  font-size: 10px;
}

.subscribe {
  background: -webkit-gradient(linear, left top, left bottom, from(#31A692), to(#0E8A75));
  background: linear-gradient(to bottom, #31A692, #0E8A75);
  color: var(--white);
  padding: 76px 0;
}

.subscribe h2,
.purple h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 12px;
  line-height: 1.2;
}

.subscribe p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.subscribe input[type='text'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--textColor);
  display: block;
  font-size: 14px;
  padding: 20px 18px;
  width: 100%;
}

form {
  -webkit-box-shadow: 0 2px 25px rgba(0,0,0,0.2);
          box-shadow: 0 2px 25px rgba(0,0,0,0.2);
}

.subscribe input[type='submit'] {
  background: var(--green);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid var(--white);
  color: var(--white);
  display: block;
  font-size: 14px;
  font-weight: 800;
  padding: 20px 0;
  width: 100%;
}

.subscribe.purple {
  background: -webkit-gradient(linear, left top, left bottom, from(#524997), to(#342D75));
  background: linear-gradient(to bottom, #524997, #342D75);
}

.subscribe.purple p {
  color: rgba(var(--white), 0.8);
}

.contact-btn {
  background: var(--white);
  border-radius: 3px;
  color: #342D75;
  display: inline-block;
  font-weight: 700;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}
